.main-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 50px;
    background-image: url('/assets/bgtexture.jpg');
}

.col-md-8{
    background-color: navy;
    color: white;
}
h4{
    font-weight: bold;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}